@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}
body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20px;
}
.module-quiz h2 small {
  display: block;
  margin-top: 10px;
}
.module-quiz h3 {
  margin-top: 25px;
}
.module-quiz .module-quiz-type-grid {
  margin-bottom: 15px;
}
.module-quiz .module-quiz-type-grid .row {
  margin: 0.5em -2.5px;
  display: flex;
}
.module-quiz .module-quiz-type-grid [class*="col-"] {
  padding: 0 2.5px;
}
.module-quiz .module-quiz-type-grid .question-item {
  border: 1px solid #eaecf3;
  border-radius: 1px;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  cursor: pointer;
  height: 100%;
  padding: 10px;
}
.module-quiz .module-quiz-type-grid .question-item img {
  width: 100%;
}
.module-quiz .module-quiz-type-grid .question-item .small {
  color: #525252;
  font-style: italic;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.module-quiz .module-quiz-type-grid .question-item i {
  font-size: 18px;
  margin-top: 5px;
  vertical-align: top;
  width: 20px;
}
.module-quiz .module-quiz-type-grid .question-item .subtitle {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  flex: 1 1 0;
  max-width: 80%;
}
.module-quiz .module-quiz-type-grid .question-item:hover,
.module-quiz .module-quiz-type-grid .question-item.selected {
  background-color: #66cc00;
}
.module-quiz .module-quiz-type-list .question-item {
  border: 1px solid #eaecf3;
  border-radius: 1px;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  cursor: pointer;
  height: 100%;
  margin-bottom: 5px;
  padding: 10px;
}
.module-quiz .module-quiz-type-list .question-item .small {
  color: #525252;
  font-style: italic;
  margin-bottom: 15px;
}
.module-quiz .module-quiz-type-list .question-item i {
  font-size: 18px;
  margin-top: 5px;
  vertical-align: top;
  width: 20px;
}
.module-quiz .module-quiz-type-list .question-item .subtitle {
  font-weight: 500;
  font-size: 18px;
}
.module-quiz .module-quiz-type-list .question-item:hover,
.module-quiz .module-quiz-type-list .question-item.selected {
  background-color: #66cc00;
}
.module-quiz .module-quiz-result .not-completed {
  color: #56b104;
  display: block;
}
.module-quiz .module-quiz-result .results {
  border: 1px solid #eaecf3;
}
.module-quiz .module-quiz-result .results h2 small {
  font-size: 14px;
  margin-bottom: 10px;
}
.module-quiz .module-quiz-result .results img {
  width: 100%;
}
.module-quiz .module-quiz-result .results .description {
  font-size: 18px;
  margin: 15px 0;
}
.module-quiz .module-quiz-result .results .small {
  color: #525252;
  font-style: italic;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
